<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context 
	 					http://www.springframework.org/schema/context/spring-context-2.5.xsd
	 					http://www.springframework.org/schema/aop
	 					http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	 					http://www.springframework.org/schema/tx
	 					http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	 					http://cxf.apache.org/jaxws
						http://cxf.apache.org/schemas/jaxws.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="com.zluo.quartz"/>
	<aop:aspectj-autoproxy/>
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- 定时器-->
	<bean id="jobFactory" class="com.zluo.quartz.factory.MJobFactory"></bean>
 	<bean name="scheduleJob"  
        class="org.springframework.scheduling.quartz.JobDetailFactoryBean">  
        <property name="jobClass" value="com.zluo.quartz.job.ScheduleJob"/>
        <property name="durability" value="true"></property>  
    </bean>  
    
    <bean id="scheduleJobTriggers"  
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail">  
        	<ref bean="scheduleJob" />
        </property>  
        <property name="cronExpression">  
            <value>0 0/1 * * * ?</value>  
        </property>  
    </bean>  
    
    <bean id="schedulerFactoryBean"   
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean"  destroy-method="destroy">  
  		<property name="jobFactory" ref="jobFactory"/>
        <property name="triggers">  
            <list>  
                <ref bean="scheduleJobTriggers" />
            </list>  
        </property>  
        <property name="applicationContextSchedulerContextKey" value="applicationContext" />  
        <property name="configLocation" value="classpath:quartz.properties" />   
    </bean> 
	
</beans>